<footer id="contact">
  <div class="footers">
    <div class="social-buttons">
      <p class="txt-contact">- Where to find me :</p>
      <a
        href="mailto:julio.bioramos@gmail.com"
        class="social-button social-button--gmail"
        aria-label="Gmail"
      >
        <i class="bi bi-envelope-at-fill"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/j%C3%BAlio-c%C3%A9sar-ramos-53282928a/"
        class="social-button social-button--linkedin"
        aria-label="LinkedIn"
      >
        <i class="bi bi-linkedin"></i>
      </a>
      <a
        href="https://wa.me/5524988212173"
        class="social-button social-button--number"
        aria-label="Number"
      >
        <i class="bi bi-whatsapp"></i>
      </a>
      <a
        href="https://www.instagram.com/julio__rmos?igsh=ZGx1emlwZXJ4ajZy&utm_source=qr"
        class="social-button social-button--instagram"
        aria-label="Instagram"
      >
        <i class="bi bi-instagram"></i>
      </a>
      <a
        href="https://github.com/Julio-Rmos"
        class="social-button social-button--github"
        aria-label="Github"
      >
        <i class="bi bi-github"></i>
      </a>
    </div>
  </div>
</footer>
