<section id="skills">
  <p class="txt-tecnology">- Some technologies I work with:</p>
  <div class="container">
    <div class="icons">
      <img src="assets/Images/angular.svg" alt="Ícone" class="icon-angular" />
      <img src="assets/Images/bootstrap.svg" alt="Ícone" class="icon-boots" />
      <img src="assets/Images/c-sharp-c.svg" alt="Ícone" class="icon-c" />
      <img
        src="assets/Images/sql-database-generic.svg"
        alt="Ícone"
        class="icon-sql"
      />
      <img src="assets/Images/git.svg" alt="Ícone" class="icon-git" />
      <img src="assets/Images/nodejs.svg" alt="Ícone" class="icon-node" />
      <img src="assets/Images/postman.svg" alt="Ícone" class="icon-postman" />
      <img src="assets/Images/ts.svg" alt="Ícone" class="icon-ts" />
      <img src="assets/Images/javascript.svg" alt="Ícone" class="icon-js" />
      <img src="assets/Images/html.svg" alt="Ícone" class="icon-html" />
      <img src="assets/Images/css.svg" alt="Ícone" class="icon-css" />
    </div>
  </div>
  <p class="txt-tanks">Thanks For Your Attention :)</p>
</section>
