<section class="about-m" id="about-m">
  <p class="hello">Hello World!</p>
  <div class="aboutme">
    <div class="container">
      <ul class="meabout">
        <li class="txts">
          - From Angra dos Reis, RJ, I am Júlio Ramos, a Junior Fullstack
          Developer.
        </li>
        <li class="txt">
          - I started my career as a developer through Ima tech's bootcamp,
          where I had the pleasure of working on various projects and improving
          my programming skills.
        </li>
        <li class="txt">
          - Currently, I develop my own projects and strive to continue
          absorbing knowledge through studies and research in the field.
        </li>
      </ul>
    </div>
    <div class="container">
      <img src="assets/Images/julio.png" alt="certificado" class="julio" />
    </div>
  </div>
</section>
