<main id="home">
  <app-navbar></app-navbar>

  <h1 class="slide-in">Hey! I'm Júlio, a Fullstack Developer.</h1>
  <div class="linha">
    <img src="assets/Images/foto1.png" alt="Foto de perfil" class="img-julio" />

    <div class="spinner-box">
      <div class="blue-orbit leo"></div>

      <div class="green-orbit leo"></div>

      <div class="red-orbit leo"></div>

      <div class="white-orbit w1 leo"></div>
      <div class="white-orbit w2 leo"></div>
      <div class="white-orbit w3 leo"></div>
    </div>
    <div class="text"><p>Slide to meet</p></div>
  </div>
  <app-aboutme></app-aboutme>
  <app-projects></app-projects>
  <app-skills></app-skills>
  <app-footer></app-footer>
</main>
